#label {
	color: #FFFF00;
}
#label.developmentLabels {
	color: #FFFF00;
}
#button {
	color: #0000FF;
	background-color: #0000FF;
	border: #7E8289;
}
#textfield {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}
#textbox {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}
#radiobutton {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}
#checkbox {
	color: #FFFFFF;
}
#dropdown-menu {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}
#togglebutton {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}
#container {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}
#window {
	color: #FFFFFF;
	background-color: #FF0000;
	border: #7E8289;
}
#titlebar {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}
#scrollbar {
	color: #FFFFFF;
	background-color: #00A651;
	border: #7E8289;
}